#body{
    position: absolute;
    border-radius: 50%;
    background-color: pink;
    height: 200px;
    width: 200px;
    top: 300px;
    left: 500px;
}

#left-eye{
    position: absolute;
    border-radius: 50%;
    background-color: black;
    height: 60px;
    width: 25px;
    top: 40px;
    left: 60px;
}

#left-white-inner-eye{
    position: absolute;
    border-radius: 50%;
    background-color: white;
    height: 20px;
    width: 12px;
    top: 42px;
    left: 66px;
}

#left-blue-cornea{
    position: absolute;
    border-radius: 3px 3px 50% 50%;
    background-color: blue;
    height: 20px;
    width: 14px;
    top: 78px;
    left: 65px;
}

#left-dimple {
    position: absolute;
    border-radius: 50%;
    background-color: salmon;
    height: 10px;
    width: 20px;
    top: 106px;
    left: 38px;
}

#right-eye{
    position: absolute;
    border-radius: 50%;
    background-color: black;
    height: 60px;
    width: 25px;
    top: 40px;
    left: 120px;
}

#right-white-inner-eye{
    position: absolute;
    border-radius: 50%;
    background-color: white;
    height: 20px;
    width: 12px;
    top: 42px;
    left: 127px;
}

#right-blue-cornea{
    position: absolute;
    border-radius: 3px 3px 50% 50%;
    background-color: blue;
    height: 20px;
    width: 14px;
    top: 78px;
    left: 126px;
}

#right-dimple {
    position: absolute;
    border-radius: 50%;
    background-color: salmon;
    height: 10px;
    width: 20px;
    top: 106px;
    left: 144px;
}

#mouth{
    position: absolute;
    border-radius: 50%;
    background-color: darkred;
    border: solid darkred 1px;
    height: 65px;
    width: 65px;
    top: 110px;
    left: 65px;
}

#inside-of-mouth{
    position: absolute;
    border-radius: 50%;
    background-color: salmon;
    height: 50px;
    width: 40px;
    top: 127px;
    left: 80px;
}

#left-arm{
    position: absolute;
    border-radius: 50%;
    background-color: pink;
    height: 50px;
    width: 100px;
    top: 100px;
    left: -70px;
}

#right-arm{
    position: absolute;
    border-radius: 50%;
    background-color: pink;
    height: 50px;
    width: 100px;
    top: 100px;
    left: 170px;
}

#left-foot{
    position: absolute;
    border-radius: 50%;
    background-color: red;
    height: 50px;
    width: 100px;
    top: 170px;
    left: 110px;
}

#right-foot{
    position: absolute;
    border-radius: 50%;
    background-color: red;
    height: 50px;
    width: 100px;
    top: 170px;
    left: -10px;
}